* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: aliceblue;
}
.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: fit-content;
  /* border: 1px solid black; */
  gap: 1rem;
  padding: 1rem;
}

.output {
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

button {
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}

button:hover {
  background-color: #555;
}

button:active {
  background-color: #333;
}
